@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap');
$font-stack:'IBM Plex Sans', sans-serif;
$bg-color:rgba(37,41,46,0.9);
$primary-color:rgba(255,255,255,0.99);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-stack;
    font-size: 10px;
    background-color:$bg-color;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}
.container{
    width: 1600px;
    max-width: 100%;
    height: 1200px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
    }
}