@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap');
$font-stack:'IBM Plex Sans', sans-serif;
$bg-color:rgba(37,41,46,0.9);
$primary-color:rgba(255,255,255,0.99);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-stack;
    font-size: 10px;
    background-color:$bg-color;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header{
    width: 60%;
    text-align: center;


    h1{

        width: 40%;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $primary-color;
        background-color:blue;
    }
    input{
        font-size: 1.6rem;
        width: 100%;
        padding: 1rem;

    }

}